.money {
  padding: 286px 0 96px 0;
}

.money__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.money__item {
  position: relative;
  width: 350px;
  text-align: center;
}

.money__item:nth-child(1) .money__link::before {
  position: absolute;
  top: -132px;
  left: 120px;
  width: 106px;
  height: 106px;
  content: "";
  background-image: url(../../img/finance.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.money__item:nth-child(2) .money__link::before {
  position: absolute;
  top: -132px;
  left: 120px;
  width: 106px;
  height: 106px;
  content: "";
  background-image: url(../../img/coverage.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.money__item:nth-child(3) .money__link::before {
  position: absolute;
  top: -132px;
  left: auto;
  left: 120px;
  width: 106px;
  height: 106px;
  content: "";
  background-image: url(../../img/paymet.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.money__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536b;
}

.money__text {
  padding-top: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6c8294;
}

@media only screen and (max-width: 1080px) {
  .money__item {
    width: 223px;
    height: 311px;
  }

  .money__item:nth-child(1) .money__link::before {
    top: -132px;
    left: 30%;
    width: 88px;
    height: 88px;
  }
  .money__item:nth-child(2) .money__link::before {
    top: -132px;
    left: 30%;
    width: 88px;
    height: 88px;
  }
  .money__item:nth-child(3) .money__link::before {
    top: -132px;
    left: 30%;
    width: 88px;
    height: 88px;
  }

  .money__title {
    padding: 22px 0 16px 0;
  }
}

@media only screen and (max-width: 750px) {
  .money {
    padding: 180px 0 80px 0;
  }

  .money__list {
    flex-direction: column;
  }

  .money__item {
    width: 328px;
    margin-bottom: 20px;
  }

  .money__item:nth-child(1) .money__link::before {
    top: -90px;
    left: 35%;
  }
  .money__item:nth-child(2) .money__link::before {
    top: -90px;
    left: 35%;
  }
  .money__item:nth-child(3) .money__link::before {
    top: -90px;
    left: 35%;
  }
}
