.ready__inner {
  padding: 0 0 96px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ready__button {
  position: absolute;
  right: 0;
}

.ready__title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}

@media only screen and (max-width: 830px) {
  .ready__inner {
    flex-direction: column;
  }

  .ready__title {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 36px;
  }
}
